
p{
    margin-bottom: 0 !important;
}
.styleIteam{
    position: relative;
    margin: 0 auto;
    max-width:270px;
    min-height: 350px;
    border-radius:4px;
    cursor:pointer;
    transition : transform 0.2s linear 0.3s;
    box-shadow: 0 4px 6px #00000029;
}
.styleIteam a{
    text-decoration:none;
    color:#332A05;
}
.styleIteam >a:hover{
    color: #332A05;
}
.saleImgIteam{
    position : absolute;
    background-color: #F2692F;
    color:#fff;
    border-radius: 10px;
    font-size: 14px;
    padding: 0 15px;
    z-index: 1;
}
.saleImg > img{
    height: 10rem;
    width: 100%;
    object-fit: contain;
    position : relative;
}
.title{
    font-weight: 500;
    line-height: normal;
    color: #474c51;
}
.showIteamCoin{
    padding: 10px;
}
.iteamCoin{
    font-size: 14px;
    margin: 0.8rem 0;
}
.coin{
    color:#fa9746;
    font-weight: 700;
    line-height: normal
}
.saleIteamCoin >p{
    text-decoration: line-through;
    opacity: 0.7;
}
.noteIteam{
    font-size: 12px;
}
.moveCard{
    position: absolute;
    bottom: 0;
    width: 100%;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(30%);
    transition : transform 0.2s linear 0.3s;
    background-color: #EEF2F4;
    opacity: 0;
}
.moveCard >button{
    border:0.4px solid transparent;
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
}
/* .moveCard >button a{
    color: #fff;
} */
.btnIteam{
    font-size: 1rem;
}
.btnAddToCard{
    background-color: #5595e8;
  
}
.btnAddToCard >a{
    color: #fff;
}
.btnAddToCard:hover{
    background-color:#fff;
    border: 0.4px solid #5595e8;
}
.btnAddToCard:hover a{
    color: #5595e8;
}
.btnEval{
    background-color: #edf4fd; 
    border: 1px solid #332A05!important;
}

.iconStar{
    font-size: 18px;
    color: #fa9746;
}
.btnEval:hover{
    opacity: 0.7;

}

.styleIteam:hover .moveCard{
    transform: translateY(0);
    animation : mymove 0.2s linear 0.2s forwards;
}
@keyframes mymove {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* responsive */
@media  (max-width:576px) {
    .styleIteam{
        min-height: 310px;
    }
    .saleImg > img{
        height:6rem
    }
    .moveCard >button{
        padding: 0.2rem 0.5rem;
    }
    .moveCard >button >a{
        font-size: 0.7rem;
    }
    .noteIteam > p{
        font-size: 10px;
    }
}

@media (min-width: 577px) and (max-width:767px) {

    .saleImg > img{
        height:7rem
    }
    .title{
        font-size: 13px;
    }
    .moveCard >button{
        padding: 0.2rem 1rem;
    }
    .moveCard >button >a{
        font-size: 0.8rem;
    }
    .noteIteam >p{
        font-size: 10px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .styleIteam{
        min-height: 320px;
    }
    .saleImg > img{
        height: 8rem;
    }
    .title{
        font-size: 14px;
    }
    .iteamCoin{
        margin: 0.4rem 0;
    }
    .noteIteam > p{
        font-size: 10px;
    }
    .moveCard >button{
        padding: 0.2rem 0;
    }
    .moveCard >button >a{
        font-size: 0.8rem;
    }

}